<!-- Cabecalho principal  -->
<%- include('partials/header') %>

<!-- Conteudo do index  -->
<main class="container d-flex flex-column flex-fill justify-content-center">
    <h1> ESTOU NO INDEX </h1>
    
</main>

<!-- Rodape de todas as páginas  -->
<%- include('partials/footer') %>